<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/business.css" />
    <link rel="stylesheet" href="/css/businessPage.css" />
    <link rel="stylesheet" href="/css/card.css" />
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <nav>
      <div id="logo-container">
        <a href="/"><img src="/images/logo.png" id="logo" /></a>
        <div id="logo-text">My Town Market</div>
      </div>
      <div class="nav-links">
        <ul>
          <li class="nav-links-items"><a href="/">Home</a></li>
          <li class="nav-links-items">
            <a href="/business?category=food">Food</a>
          </li>
          <li class="nav-links-items">
            <a href="/business?category=skincare">Skin-Care</a>
          </li>
          <li class="nav-links-items">
            <a href="/business?category=tbd">TBD</a>
          </li>
          <li class="nav-links-items"><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
